NEXT_PUBLIC_SUPABASE_URL=Project_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_...
SUPABASE_SECRET_KEY=sb_secret_...

NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Gemini API Key (gemini.google.com)
GEMINI_API_KEY=

CRON_SECRET=